<form class="hq" method="POST" action="/questions">
	<label>Quiz</label><select name="quiz_id">
		<option value="">Select Quiz</option>
		<% quizes.each do |quiz| %>
		<option value="<%= quiz.id %>"><%= quiz.name %></option>
		<% end %>
	</select>
	<label>Question</label><textarea name="body"></textarea>
	<label>Option 1</label><input name="option1" />
	<label>Option 2</label><input name="option2" />
	<label>Option 3</label><input name="option3" />
	<label>Answer</label><select name="correct_answer">
		<option value="">Choose an Answer</option>
		<% 3.times do |n| %>
		<option value="<%= n+1 %>">Option <%= n+1 %></option>
		<% end %>
		<!-- <option value="1">Option 1</option>
		<option value="2">Option 2</option>
		<option value="3">Option 3></option> -->
	</select>
	<input type="submit" />
</form>