<form method="post" enctype="mulitpart/form-data">
	<input placeholder="First" name="first" />
	<input placeholder="Last" name="last" />
	<input placeholder="Slack" name="slack" />
	<input placeholder="Password" name="password" type="password" />
	<input type="file" name="photo" />
	<input type="submit" />
</form>