<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= @title %></title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/default.css" />
</head>
<body>
<%= erb :nav %>
<%= yield %>
 <script src="/js/main.js"></script>
</body>
</html>