<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Codewars Leaderboard</title>
	<link rel="stylesheet" type="text/css" href="/css/default.css" />
</head>
<body class="<%= @class %>">
	<%= erb :nav %>
	<%= yield %>
</body>
</html>
