body {
	width: 800px;
	margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
	font-family: arial, sans-serif;
}
h3 {
	color: red;
/*	color: #ff0000;
	color: rgb(255,0,0);*/
}
img.profile {
	float: left;
/*	padding-right: 15px;
	padding-bottom: 15px;*/
	padding: 0 15px 15px 0;
}