<h1>Geo Searcher</h1>
<p>Please enter a web address to look for.</p>
<form method="post" action="/search">
<label for="address">Web Address</label>
<input name="address" /><input type="submit" value="Search" />
</form>