body {
	margin: 0 100px;
}
header{
	position:relative;
	height: 100px;
	/*padding: 0 100px;*/
}
nav {
	position:absolute;
	right:0;
	top:30px;
}
nav ul {
	list-style-type: none;
}
nav > li {
	display: inline-block;
	position: relative;
	padding-left: 20px;
}
nav > li a {
	color: grey;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.5em;
}
nav ul {
	padding: 0;
}
.submenu {
	position: absolute;
	left: 20px;
	top: 12px;
	opacity: 0;
	z-index: 1;
	background-color: rgba(255,255,255,0);
	transition: opacity, background-color 1s;
	/*display: none;*/
}
nav > li:hover .submenu {
	background-color: blue;
	display: block;
	opacity: 1;
}
#main {
	text-align: center;
}
.full-image {
	width: 100%;
}
.column {
	display: inline-block;
	width:48%;
}
h2 {
	font-weight: normal;
}

@media (max-width: 775px) {
	nav {
		position: static;
	}
	nav li {
		display: block;
		padding-left: 0;
	}
	header {
		height: auto;
	}
	#main {
		display: none;
	}
	.column {
		display: block;
		width: auto;
	}
}
@media (max-width: 500px) {
	body {
		margin: 0 5px;
	}
}



