body {
	background-color: lightblue;
}
body.profile {
	background-color: lightgreen;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Arial, sans-serif;
	font-weight: bold;
}
h1 {
	font-size: 40px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 20px;
}