.hq {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 10px;
	width: 400px;
}
.hq input[type=submit] {
	grid-column: 2;
}
.hq label {
	grid-column: 1;
}
#notice {
	background-color: rgba(30,30,200,0.8);
	color: #fff;
	font-weight: bold;
	padding: 15px 50px;
}