<form action="/users" method="POST">
	<label for="first">first</label><input type=="text" name="first" />
	<label for="last">Last</label><input type=="text" name="last" />
	<label for="username">Username</label><input type="text" name="username" />
	<label for="password">Password</label><input type="password" name="password" />
	<input type="submit" value="Create" />
</form>