#bgvideo {
	z-index:-1;
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	overflow: hidden;
}
td.highlight {
	color: green;
}
a.greeting {
	text-decoration: none;
}
.test {
	color: red;
}
.new {
	color: green;
}